:root {
  --step--2: clamp(1.28rem, calc(1.31rem + -0.04vw), 1.30rem);
  --step--1: clamp(1.56rem, calc(1.55rem + 0.07vw), 1.60rem);
  --step-0: clamp(1.88rem, calc(1.83rem + 0.22vw), 2.00rem);
  --step-1: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
  --step-2: clamp(2.70rem, calc(2.55rem + 0.74vw), 3.13rem);
  --step-3: clamp(3.24rem, calc(3.01rem + 1.16vw), 3.91rem);
  --step-4: clamp(3.89rem, calc(3.54rem + 1.73vw), 4.88rem);
  --step-5: clamp(4.67rem, calc(4.17rem + 2.50vw), 6.10rem);
}

* {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--step-1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}

h1 {
    font-size: var(--step-5);
}

html, body {
    background: #0055c8;
    height: 100vh;
}

.sub-header {
    font-family: 'Gill Sans MT';
    font-style: italic;
}

header h1 {
    color: #FFF;
}

header p, footer p {
    color: #FFF;
    font-size: var(--step-1);
}

header .uk-icon {
    color: #FFF;
}

footer a, footer li {
    font-size: var(--step--1);
}

footer,
footer h1,
footer h2,
footer p,
footer span,
footer a {
    color: #FFF;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

/* CUSTOM */

.animation-delay-500 {
    animation-delay: 500ms;
}

.animation-delay-1000 {
    animation-delay: 1000ms;
}

.animation-delay-1500 {
    animation-delay: 1500ms;
}

.animation-delay-2000 {
    animation-delay: 2000ms;
}

.animation-slow {
    animation-duration: 1s;
}

.animation-duration-2000 {
    animation-duration: 2s;
}

.animation-infinite {
    animation-iteration-count: infinite;
}

.uk-button {
    font-size: var(--step-0);
    padding: 10px 30px;
}

@media only screen and (max-width: 760px) {
    footer {
        flex-direction: column !important;
    }
}