:root {
    --step--2: clamp(0.87rem, calc(0.86rem + 0.02vw), 0.88rem);
    --step--1: clamp(1.04rem, calc(1.02rem + 0.10vw), 1.10rem);
    --step-0: clamp(1.25rem, calc(1.21rem + 0.22vw), 1.38rem);
    --step-1: clamp(1.50rem, calc(1.42rem + 0.38vw), 1.72rem);
    --step-2: clamp(1.80rem, calc(1.68rem + 0.61vw), 2.15rem);
    --step-3: clamp(2.16rem, calc(1.98rem + 0.91vw), 2.69rem);
    --step-4: clamp(2.59rem, calc(2.33rem + 1.33vw), 3.36rem);
    --step-5: clamp(3.11rem, calc(2.73rem + 1.89vw), 4.20rem);
}

* {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}

h1 {
    font-size: 4em;
}

html, body {
    background: #0055c8;
    height: 100vh;
}

.sub-header {
    font-family: 'Gill Sans MT';
    font-style: italic;
}

header h1 {
    color: #FFF;
}

header p,
footer p {
    color: #FFF;
    font-size: 1.5em;
}

header .uk-icon {
    color: #FFF;
}

footer,
footer h1,
footer h2,
footer p,
footer span,
footer a {
    color: #FFF;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

/* CUSTOM */

.animation-delay-500 {
    animation-delay: 500ms;
}

.animation-delay-1000 {
    animation-delay: 1000ms;
}

.animation-delay-1500 {
    animation-delay: 1500ms;
}

.animation-delay-2000 {
    animation-delay: 2000ms;
}

.animation-slow {
    animation-duration: 1s;
}

.animation-duration-2000 {
    animation-duration: 2s;
}

.animation-infinite {
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 760px) {
    footer {
        flex-direction: column;
    }
}